.animation {
  height: 250vh;
  margin-bottom: 60px;

  .video-container {
    height: calc(100% - 407px);
    margin-top: -1rem;
    width: 100vw;

    video {
      height: 100vh;
      width: 100%;
      max-width: 100vw;
      position: sticky;
      top: 0;
      object-fit: cover;
    }
  }

  // position: relative;
}

@media screen and (min-width: $max-width-lg) {
  .animation {
    height: 200vh;
    margin-bottom: 0;
    .video-container {
      height: calc(100% - 207px);
      margin-top: initial;
    }
  }
}
