.animation {
  height: 500vh;

  .video-container {
    height: calc(100% - 407px);
  }

  // position: relative;
  video {
    height: 100vh;
    width: 100vw;
    position: sticky;
    top: 0;
    object-fit: cover;

    &.fixed {
      position: fixed;
      bottom: 0;
    }

    &.bottom {
      // bottom: 0;
    }
  }
}

@media screen and (min-width: $max-width-lg) {
  .video-container {
    height: calc(100% - 207px);
  }
}
