.animation {
  .background {
    min-height: 200vh;
    position: relative;

    &#{&},
    &:before,
    &:after {
      background-attachment: fixed;
    }
  }
  .bear {
    width: 100%;
    min-height: 72vh;
    position: sticky !important;
    bottom: 0;
  }
}

@media screen and (min-width: $max-width-lg) {
  .animation {
    .background {
      &#{&},
      &:before,
      &:after {
        background-position: -175px 130%, bottom center !important;
        background-repeat: no-repeat !important;
        background-size: contain, cover !important;
      }
    }
  }
}
