.products {
  padding: 60px 0;

  .carousel-item {
    padding: 0 10%;
  }

  h2 {
    text-transform: uppercase;
    color: $gray2;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 80px;
    text-align: center;
    padding: 0 2rem;
  }

  &__item {
    // position: relative;
    // max-width: 80%;
    // margin: 0 10%;
    // width: 580px;
    // height: 610px;

    .btn {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      width: 60%;
    }

    &:nth-child(1),
    &:nth-child(3) {
      // transform: scale(0.7);
    }
  }
}

@media screen and (min-width: $max-width-lg) {
  .products {
    h2 {
      font-size: 3rem;
    }

    &__item {
      a {
        font-size: 2rem;
      }
    }
  }
}
