.products {
  padding: 60px 0;

  h2 {
    text-transform: uppercase;
    color: $gray2;
    font-size: 3rem;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
  }

  &__container {
    display: flex;
    flex-direction: row;
    padding: 80px;
  }
  &__item {
    position: relative;
    width: 580px;
    height: 610px;

    a {
      position: absolute;
      background-color: #fdd866;
      color: #fff;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 2rem;
      padding: 1rem 1rem;
      border-radius: 3rem;
      bottom: 2rem;
      left: 50%;
      transform: translate(-50%, 0);
      width: 60%;
      text-align: center;
    }

    &:nth-child(1),
    &:nth-child(3) {
      transform: scale(0.7);
    }
  }
}
