.products {
  display: block;
  padding: 120px 0;
  overflow: hidden;

  h2 {
    text-transform: uppercase;
    color: $gray2;
    width: 100%;
    max-width: 800px;
    margin: 0 auto 80px;
    text-align: center;
    padding: 0 2rem;
  }

  &__list {
    width: 93vw;
    margin: 0 auto;
  }

  &__item {
    width: 95% !important;
    max-width: 600px;
    max-height: 629px;

    height: 100vw * 1.0483333333333333;
    position: relative;
    outline: none;
    .btn {
      position: absolute;
      left: 50%;
      transform: translate(-50%, 0);
      bottom: 3rem;
    }

    &:hover {
      animation: hoverSwing 10s infinite;
    }
  }
}

@media screen and (min-width: $max-width-lg) {
  .products {
    h2 {
      font-size: 3rem;
    }

    &__item {
      .btn {
        font-size: 2rem;
      }
    }

    .slick-slide {
      transform: scale(0.8);

      &.slick-current + .slick-slide {
        transform: scale(1);
      }
    }
  }
}

@keyframes hoverSwing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(1deg);
  }
  90% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
