.hero {
  width: 100% !important;
  min-height: 600px;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__content-wrapper {
    width: 100%;
    height: 100%;
  }

  .senior {
    width: 95vw;
    height: 84vw;
    max-height: 60vh;

    position: absolute !important;
    z-index: 10;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);

    &:before,
    &:after {
      background-size: contain !important;
    }
  }

  .thumb {
    width: 339px;
    height: 191px;
    position: absolute !important;
    z-index: 11;
  }
}

.clouds {
  height: 300px;
  display: flex;
  bottom: 75px;
  position: relative;
  height: 300px;
  bottom: 145px;
  width: 100%;
  margin-bottom: -160px;

  .btn {
    height: 77px;
    margin: 20px auto;
  }
}

@media screen and (min-width: $max-width-lg) {
  .hero {
    .senior {
      max-height: 80vh;
      width: vwCalc(426 * 2);
      height: vwCalc(381 * 2);
    }

    &#{&},
    &:before,
    &:after {
      background-position: center 200%, center center !important;
      background-size: 100% auto, cover !important;
    }
  }
  .clouds {
    display: flex;
    align-items: center;
    position: absolute !important;
    bottom: -50%;
    height: 22vw;
    width: 100vw;
    z-index: 10;

    margin-bottom: initial;
    .btn {
      width: 400px;
    }
  }
}
