.hero {
  width: 100% !important;
  min-height: 600px;
  height: 100vh;
  position: relative;
  overflow: hidden;

  &__content-wrapper {
    width: 100%;
    height: 100%;
  }

  .senior {
    width: 95vw;
    height: 84vw;
    max-height: 60vh;

    position: absolute !important;
    z-index: 10;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);

    &:before,
    &:after {
      background-size: contain !important;
    }
  }

  .thumb {
    max-width: 460px;
    min-width: 285px;
    min-height: 162px;
    width: vwCalc(569);
    height: vwCalc(323);
    position: absolute !important;
    z-index: 11;

    &:nth-child(1) {
      width: vwCalc(454);
      height: vwCalc(294);
      z-index: 1;
      left: 50%;
      top: 5%;
      transform: translate(0%, 0);
    }

    &:nth-child(2) {
      width: vwCalc(412);
      height: vwCalc(291);
      z-index: 1;
      left: 25%;
      top: 5%;
      transform: translate(-50%, 0);
    }

    &:nth-child(3) {
      top: 35%;
      transform: translate(-20%, 0%);
    }

    &:nth-child(4) {
      bottom: 0;
      transform: translate(0%, 0%);
    }

    &:nth-child(5) {
      bottom: -5%;
      left: 50%;
      transform: translate(0%, 0%);
    }
  }
}

.clouds {
  height: 300px;
  display: flex;
  bottom: 75px;
  position: relative;
  height: 300px;
  bottom: 145px;
  width: 100%;
  margin-bottom: -160px;

  .btn {
    height: 77px;
    margin: 20px auto;
  }
}

@media screen and (min-width: $max-width-lg) {
  .hero {
    .senior {
      max-height: 80vh;
      width: vwCalc(426 * 2);
      height: vwCalc(381 * 2);
    }
  }
  .clouds {
    display: flex;
    align-items: center;
    position: absolute !important;
    bottom: -50%;
    height: 22vw;
    width: 100vw;
    z-index: 10;

    &#{&},
    &:before,
    &:after {
      background-position: top center, top center !important;
    }

    margin-bottom: initial;
    .btn {
      width: 400px;
    }
  }
}
