.red {
  --color: #{$pink2};
}
.blue {
  --color: #{$blue1};
}
.green {
  --color: #{$green};
}

.section__text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: baseline;
  justify-content: space-evenly;
  position: relative;
  z-index: 1;
  align-items: center;

  &.left {
    p {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 94%);
    }
  }

  &.right {
    p {
      clip-path: polygon(0 1%, 100% 0, 100% 94%, 0% 99%);
    }
  }

  h2 {
    font-size: 2rem;
    line-height: 2.4rem;
    margin: 0;
    padding: 3rem 2rem;
    text-align: center;
    color: var(--color);
  }

  p {
    position: relative;
    background: var(--color);
    color: $white;
    padding: 70px 40px;
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
    top: 3px;

    span {
      font-size: 1rem;
      line-height: 1.2rem;
      text-align: center;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: 50%;
      top: 0;
      transform: translate(-50%, 0);
      border-top-color: $white;
      border-top-style: solid;
      border-top-width: 15px;
      border-right-color: transparent;
      border-right-style: solid;
      border-right-width: 15px;
      border-bottom-color: transparent;
      border-bottom-style: solid;
      border-bottom-width: 15px;
      border-left-color: transparent;
      border-left-style: solid;
      border-left-width: 15px;
    }
  }
}

.section__content {
  margin-top: -23px;
  &.left {
    clip-path: polygon(0 0, 100% 2%, 100% 99%, 0 100%);
  }
  &.right {
    clip-path: polygon(0 2%, 100% 0, 100% 100%, 0 100%);
  }
}

@media screen and (max-width: $max-width-lg) {
  .section__text {
    max-width: 100vw;
    width: 100%;
    overflow: hidden;
  }
}

@media screen and (min-width: $max-width-lg) {
  .section__text {
    height: 207px;

    display: flex;
    flex-direction: row;
    // width: 1280px;

    &.left {
      p {
        &::before {
          left: 0;
          top: 50%;
          transform: translate(0, -50%);
          border-top-color: transparent;
          border-left-color: $white;
        }
      }
    }

    &.right {
      flex-direction: row-reverse;
      h2 {
        text-align: left;
      }
      p {
        &::before {
          right: 0;
          top: 50%;
          transform: translate(0, -50%);
          border-top-color: transparent;
          border-right-color: white;
        }
      }
    }

    h2 {
      width: 45%;
      text-align: right;
      font-size: 3rem;
      line-height: 3rem;
      margin: 0;
      padding: 0 3rem;
    }

    p {
      height: 320px;
      width: 55%;
      padding: 0 120px;
      top: initial;

      span {
        font-size: 1.2rem;
        line-height: 1.8rem;
        text-align: justify;
      }
    }
  }

  .section__content {
    &.left {
      clip-path: polygon(0 0, 100% 3%, 100% 100%, 0 100%);
    }
    &.right {
      clip-path: polygon(0 3%, 100% 0, 100% 100%, 0 100%);
    }
  }
}
