html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  @include font-base;
  background: $white;
}

.content-wrap {
  padding: 0 1rem;
  margin: 0 auto;
}

@media screen and (min-width: $max-width-lg) {
  .content-wrap {
    width: 1280px;
  }
}

a.btn {
  background-color: #fdd866;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 3rem;
  bottom: 1rem;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 1.8rem;

  &:hover {
    background: white;
    color: #fdd866;
  }
}
