html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  @include font-base;
  background: $white;
}

.content-wrap {
  padding: 0 calc((100vw - 2560px) / 2);
  width: 1280px;
  margin: 0 auto;
}
