html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  @include font-base;
  background: $white;
  width: 100%;
  max-width: 100vw;
  position: relative;
}
// * {
//   -webkit-touch-callout: none; /* iOS Safari */
//   -webkit-user-select: none; /* Safari */
//   -khtml-user-select: none; /* Konqueror HTML */
//   -moz-user-select: none; /* Old versions of Firefox */
//   -ms-user-select: none; /* Internet Explorer/Edge */
//   user-select: none; /* Non-prefixed version, currently */
// }

.content-wrap {
  padding: 0 1rem;
  margin: 0 auto;
}

a.btn {
  background-color: #fdd866;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 3rem;
  bottom: 1rem;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  display: block;
  font-size: 1.8rem;
  box-shadow: none !important;

  &:hover {
    background: white;
    color: #fdd866;
  }
}

.slick-list {
  overflow: visible;
  .slick-slide {
    text-align: center;
    // margin: 0 10px;
  }
}

.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
}

@media screen and (min-width: $max-width-lg) {
  .carousel-indicators {
    margin-bottom: 5rem;
  }
  .content-wrap {
    width: 1280px;
  }
}
