$white: #fff;
$gray1: #c4c4c4;
$gray2: #b3b3b3;
$gray3: #8d8d8d;
$black: #000;
$red: #ff0000;
$pink1: #ff8f91;
$pink2: #ff8f8e;
$green: #8ce3b6;
$pale-blue: #86a0a8;
$blue1: #02c5fb;
$blue2: #03c4f9;
$blue3: #03c4fc;
$yellow: #fdd866;
